.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    padding: 10px;
}
.about-container img {
    margin: 20px;
}

.about-dark {
    background-color: black;
    color: white;
}