.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.about-container img {
    margin: 20px;
    width: 100%;
}

.about-container p {
    padding: 10px;
    line-height: 1.6;
}

.about-dark {
    background-color: black;
    color: white;
}